header
  height: 8rem
  background-color: $dark
  border-style: solid
  border-width: 1px
  border-color: $dark
  .logo-field
    display: inline-block

    // position: relative
    // background-color: white
    padding-left: 5rem
    padding-right: 5em
    border-color: $dark

    p
      display: inline-block
      margin-left: 1em
      margin-top: 0.7em
      font-size: 2em
      color: white

  .search
    margin: 1.3em

    .search-icon
    color: white
