section
  color: blue
  height: 100vh
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  
#hello
  background-image: url(../img/brushed-metal.jpg)
  &.bg1
    background-image: url(../img/colorMath.jpg)
  &.bg2
    background-image: url(../img/recycledTexture.jpg)
  &.bg3
    background-image: url(../img/blackPattern.jpg)

#intro
  background-image: url(../img/recycledTexture.jpg)

#skills
  background-image: url(../img/colorMath.jpg)

#works
  background-image: url(../img/fun.jpg)

#lab
  background-image: url(../img/math.jpg)

#about
  background-image: url(../img/blackPattern.jpg)

#contacts
  background-image: url(../img/board_black_line_texture.jpg)
